* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*3 COLUMNAS USANDO DIV*/

/*Primero es bueno darle un color de fondo a cada div*/

.one {
  background-color: blue;
}

.two {
  background-color: yellow;
}
.three {
  background-color: green;
}
/*Luego le digo, a todos los div dales una altura de 400px, un ancho
 de 33,33%(porque voy a dividir la pantalla en 3, y finalmente
hace que floten hacia la izquierda)*/
div {
  height: 400px;
  width: 33.33%;
  float: left;
}
/*Luego si agrego otro div y por ejemplo un titulo, para que no pase lo mismo que pasaba 
con los parrafos de que no respetaban el espacio
 del div, tengo que usar la propiedad clear, en el mejor de los casos con el valor both*/

h1 {
  clear: both;
}
